{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100">
        <use xlink:href="#bootstrap"></use>
    </svg>
    <h1 class="text-body-emphasis">Welcome to Attendance-Website</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        This website is designed to speed up and authenticate the attendance process
    </p>
    <p>Follow me on <a href="https://www.instagram.com/aaryan.k666/" style="text-decoration: none; color: red;"
            target="_blank">Instagram</a>, <a href="https://www.linkedin.com/in/aaryan-kumar-a2385a22a/"
            style="text-decoration: none; color: blue;" target="_blank">LinkedIn</a></p>
    <p>
        ~Aaryan Kumar
    </p>
</div>
{% endblock body %}